:root {
  --el-color-primary: #409eff;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

/* 布局容器样式 */
.app-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.right-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.el-header {
  padding: 0;
  border-bottom: 1px solid var(--el-border-color-light);
  background-color: #fff;
  color: #333;
  flex-shrink: 0;
}

.el-aside {
  background-color: #001529;
  color: #fff;
  transition: width 0.3s;
  overflow-x: hidden;
}

.el-main {
  background-color: #f0f2f5;
  padding: 12px;
  overflow-x: auto; /* 仅 el-main 横向滚动 */
  display: flex;
  flex-direction: column;

  /* 内部内容统一最小宽度 */
  & > .breadcrumb-container,
  & > .app-main-content {
    min-width: 1400px;
  }
}
